.header {
  height: $header-height;
  background-color: $dough-orange;
  font-size: 20px;
  & > * {
    @include vertical-align($header-height);
  }
  a {
    color: white;
  }
}

.dough-logo {
  height: 50px;
  width: 200px;
}