.address {
  color: gray;
  margin-bottom: 5px;
}

.media-kit-main {
  margin-top: 50px;
}

.lower-profile {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

body,h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
}

.main-body-image {
  margin-top: 20px;
}


.co-brand-logo-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.media-container {
  position: relative;
}