%footer.footer-format
  %div.row
    %ul.inline-list
      %li
        = link_to "blog", "https://www.dough.com/#posts"
      %li
        %a{:href => "https://www.dough.com/legal-stuff"} legal stuff
      %li
        %a{:href => "https://www.dough.com/security"} security