%footer.footer-format
  %div.row
    %ul.inline-list
      %li
        = link_to "blog", "https://www.dough.com/#posts"
      %li
        = link_to "legal stuff", "https://www.dough.com/legal-stuff"
      %li
        = link_to "security", "https://www.dough.com/security"