%div.header
  %div.logo.large-3.columns
    %img{src: "https://s3.amazonaws.com/www.dough.com/sites/52f1bbab741206fd0d000002/theme/images/dough-sm-white.svg", class: "dough-logo" }
  %ul.inline-list.large-6.columns
    %li what is dough?
    %li meet the traders
    %li contact us
    %li in the news
    %li blog
  %ul.inline-list.large-3.columns
    %li media info

