%div.header
  %div.logo.large-3.columns
    Hello
  %ul.inline-list.large-6.columns
    %li what is dough?
    %li meet the traders
    %li contact us
    %li in the news
    %li blog
  %ul.inline-list.large-3.columns
    %li media info

